{% extends "base.html" %}

{% block global_messages %}{% endblock %}

{% block body_attrs %}id="login"{% endblock %}

{% block content %}
<section id="login-wrap" class="section-wrap group">
    <div class="contents">
        {% if validlink %}
            <hgroup class="group">
                <h1>Enter New Password</h1>
            </hgroup>
            <form action="" method="post" id="login-box">{% csrf_token %}
                <div class="login-badge-clip"></div>
                <div class="tag-hole"></div>
                <div class="login">
                    <ul>
                    {% for field in form %}
                        <li>
                            <label for="id_{{ field.name }}">{{ field.label}}</label>
                            {{ field }}
                            <i class="icon-lock"></i>
                            {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                            {% endif %}
                            {% if field.help_text %}
                              <p class="hint">{{ field.help_text }}</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                    {% if form.non_field_errors %}
                        <p class="error" style="display:block;">{{ form.non_field_errors.0 }}</p>
                    {% endif %}
                    <div class="login-btn">
                        <input type="submit" class="btn red-btn" href="#" value="Change my password">
                    </div>
                </div>
            </form>
        {% else %}{# not valid link #}
            <div class="flatpage">
                <hgroup class="group">
                    <h1><i class="icon-warning-sign"></i> Password reset unsuccessful</h1>
                </hgroup>
                <p class="sub-paragraph">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
            </div>
        {% endif %}
    </div> <!-- end .contents -->
</section>
{% endblock %}
