            <div data-role="footer" data-position="fixed" data-theme="b">
                <div data-role="navbar">
                    <ul>
                        <li><a href="{% url edit %}" data-icon="plus" class="ui-btn-active ui-state-persist">Add</a></li>
                        <!-- <li><a href="#" data-icon="edit">Edit</a></li>
                        -->
                        <li><a href="{% url log %}" data-icon="page">View</a></li>
                        <li><a href="{% url landing %}" data-icon="gear">Settings</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->
