            <div data-role="footer" data-position="fixed" data-theme="b">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#" data-icon="plus">Add</a></li>
                        <li><a href="#" data-icon="edit">Edit</a></li>
                        <li><a href="#" data-icon="page">View</a></li>
                        <li><a href="#" data-icon="gear">Settings</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->
