<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block head_title %}Mile Tracker{% endblock %}</title>

        <!-- jQuery Mobile CSS bits -->
        <link rel="stylesheet" href="{{ STATIC_URL }}themes/miletracker.min.css" />
        <!--
            http://jquerymobile.com/themeroller/?ver=1.2.0&style_id=20121222-22
        -->
        <link rel="stylesheet" href="{{ STATIC_URL }}themes/jquery.mobile.structure-1.2.0.min.css" />
        <!-- // Original
        <link rel="stylesheet"  href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        -->

        <!-- if you have a custom theme, add it here -->
        <!-- https://github.com/commadelimited/jQuery-Mobile-Icon-Pack -->
        <link rel="stylesheet"  href="{{ STATIC_URL }}themes/jqm-icon-pack-2.0-original.css" />
        <link rel="stylesheet"  href="{{ STATIC_URL }}themes/font-awesome/jqm-icon-pack-2.1.2-fa.css" />
        <link rel="stylesheet"  href="{{ STATIC_URL }}themes/style.css" />

        <!-- Javascript includes -->
        <script src="{{ STATIC_URL }}javascript/jquery-1.8.2.min.js"></script>
        <script src="{{ STATIC_URL }}javascript/jquery.mobile-1.2.0.min.js"></script>

        {% block extra_css %}
        {% endblock %}

        {% block extra_javascript %}
        <script>
        </script>
        {% endblock %}
    </head>

    <body>
        <div data-role="page" data-theme="a" id="{% block body_id %}striped{% endblock %}">
            {% block header %}
            <div data-role="header" data-theme="b">
                {% block header_content %}
                <h1><a href="{% url landing %}"><span id="mile">mile</span><span id="tracker">tracker</span></a></h1>
                {% endblock %}
            </div>
            {% endblock %}

            {% block messages%}
                <div class="messages" data-role="content">
                {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message|safe }}</p>
                {% endfor %}
                </div>
            {% endblock %}

            {% block content %}
            <div data-role="content" data-theme="c">
                Content block
            </div><!-- content -->
            {% endblock %}

            {% block footer %}
            {% include "_footer.html" %}
            {% endblock %}
        </div>
    </body>
</html>

