{% extends "base.html" %}

{% block body_id %}landing{% endblock %}

{% block header %}{% endblock %}

{% block content %}
            <div data-role="content" data-theme="c">
                <h1 id="logo"><span id="mile">mile</span><span id="tracker">tracker</span></h1>
                <div id="actions">
                    {% block actions %}
                    <a href="{% url add %}" data-role="button" data-icon="plus">Start A Trip</a>
                    <!--
                    <a href="{% url edit 2 %}" data-role="button" data-icon="power" data-theme="d">End A Trip</a>
                    -->
                    {% endblock %}
                </div>
            </div><!-- content -->
{% endblock %}
