
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>jQuery Mobile: Theme Download</title>


        <!-- jQuery Mobile CSS bits -->
        <link rel="stylesheet" href="themes/miletracker.min.css" />
        <!-- http://jquerymobile.com/themeroller/?ver=1.2.0&style_id=20121221-52 -->
        <link rel="stylesheet" href="themes/jquery.mobile.structure-1.2.0.min.css" />
        <!-- // Original
        <link rel="stylesheet"  href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        -->

        <!-- if you have a custom theme, add it here -->
        <link rel="stylesheet"  href="themes/jqm-icon-pack-2.0-original.css" />
        <link rel="stylesheet"  href="/themes/font-awesome/jqm-icon-pack-2.1.2-fa.css" />
        <link rel="stylesheet"  href="themes/style.css" />

        <!-- Javascript includes -->
        <script src="javascript/jquery-1.8.2.min.js"></script>
        <script src="javascript/jquery.mobile-1.2.0.min.js"></script>

        <style>
            p.helptext {
              margin-top: 0.2em;
              margin-bottom: 1.8em;
              font-size: 0.8em;
              color: #666;
            }
        </style>
    </head>

    <body id="striped">
        <div data-role="page" data-theme="a">
            <div data-role="header" data-theme="b">
                <h1 id="lgo"><span id="mile">mile</span><span id="tracker">tracker</span></h1>
            </div>

            <div data-role="content" data-theme="a">
                <div data-role="navbar">
                    <ul>
                        <li><a href="" class="ui-btn-active ui-state-persist">Use Odometer</a></li>
                        <li><a href="">Enter Miles Directly</a></li>
                    </ul>
                </div><!-- /navbar -->

                <p>You can either enter beginning and ending odometer readings <strong><em>or</em></strong> just enter the total miles traveled.</p>

                <input type="date" name="name" id="basic" value="" data-mini="true" placeholder="Date of trip" />
                <p class="helptext">Defaults to today's date.</p>

                <input type="tel" name="name" id="basic" value="" data-mini="true" placeholder="Beginning odometer reading" />
                <p class="helptext">Hint: You can just use the last 4 digits of the odometer when you start the trip.</p>

                <input type="tel" name="name" id="basic" value="" data-mini="true" placeholder="Ending odometer reading"/>
                <p class="helptext">If you're just getting started, you can fill this in later, when the trip actually ends.</p>

                <input type="tel" name="name" id="basic" value="" data-mini="true" placeholder="Reason for trip (optional)"/>
                <p class="helptext">Optional -- you can also fill it in later, if you like.</p>

                <a href="index.html" data-role="button" data-icon="save" data-theme="c">Save This Trip!</a>
            </div><!-- content -->

            <div data-role="footer" data-position="fixed" data-theme="b">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#" data-icon="plus">Add</a></li>
                        <li><a href="#" data-icon="edit">Edit</a></li>
                        <li><a href="#" data-icon="page">View</a></li>
                        <li><a href="#" data-icon="gear">Settings</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->

        </div>
    </body>
</html>
