{% extends "base.html" %}

{% block extra_css %}
        <style>
            p.helptext {
              margin-top: 0.2em;
              margin-bottom: 2.3em;
              font-size: 0.8em;
              color: #666;
            }
        </style>
    </head>
{% endblock %}

{% block content%}
            <div data-role="content" data-theme="a">
                <h2>Add A New Trip</h2>
                {% comment %}
                <div data-role="navbar">
                    <ul>
                        <li><a href="" class="ui-btn-active ui-state-persist">Use Odometer</a></li>
                        <li><a href="">Enter Miles Directly</a></li>
                    </ul>
                </div><!-- /navbar -->

                <p>You can either enter beginning and ending odometer readings <strong><em>or</em></strong> just enter the total miles traveled.</p>
                {% endcomment %}

                <form method="POST">{% csrf_token %}
                    {% for field in form %}
                        {{ field }}
                        <p class="helptext">{{ field.help_text}}</p>
                    {% endfor %}
                    <a id="submit" data-role="button" data-icon="save" data-theme="c">Save This Trip!</a>
                    <script>
                        $('a#submit').click(function (e) {
                            $(this).parent().submit();
                            e.preventDefault();
                        });
                    </script>
                </form>



            </div><!-- content -->
{% endblock %}
