{% extends "base.html" %}

{% block content %}
            <div data-role="content" data-theme="a">
                {% if trip %}
                    <h2>Edit Trip</h2>
                {% else %}
                    <h2>Add A New Trip</h2>
                {% endif %}
                {% comment %}
                <div data-role="navbar">
                    <ul>
                        <li><a href="" class="ui-btn-active ui-state-persist">Use Odometer</a></li>
                        <li><a href="">Enter Miles Directly</a></li>
                    </ul>
                </div><!-- /navbar -->

                <p>You can either enter beginning and ending odometer readings <strong><em>or</em></strong> just enter the total miles traveled.</p>
                {% endcomment %}

                <form method="POST">{% csrf_token %}
                    {% if form.non_field_errors %}
                    <div class="error">
                        {% for error in form.non_field_errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% for field in form %}
                    <div {% if field.errors %}class="error"{% endif %}>
                        {% if field.errors %}
                            <p class="error" style="display:block">{{ field.errors.0 }}</p>
                        {% endif %}
                        {{ field }}
                        <p class="helptext {% if field.errors %}error{% endif %}">{{ field.help_text}}</p>
                    </div>
                    {% endfor %}
                    <a id="submit" data-role="button" data-icon="save" data-theme="c">Save This Trip!</a>
                    <script>
                        $('a#submit').click(function (e) {
                            $(this).parent().submit();
                            e.preventDefault();
                        });
                    </script>
                </form>
            </div><!-- content -->
{% endblock %}
