{% extends "base.html" %}

{% block content %}
            <div data-role="content" data-theme="a">
                <input type="search" name="search" id="search-basic" value="" placeholder="Search for a trip (this doesn't work yet)" />

                <div data-role="navbar">
                    <ul>
                        <li><a href="" class="ui-btn-active ui-state-persist">By Date</a></li>
                        <li><a href="">A - Z</a></li>
                    </ul>
                </div><!-- /navbar -->

                <h2>Trip Log<span class="right">234 mi</span></h2>
                    <ul id="mylistview"
                        data-role="listview"
                        >
                        {% for trip in trips %}
                        <li data-icon="pencil"><a href="{% url edit trip.id %}">{{ trip.date}} - {% firstof trip.reason "(no description)"%}</a><span class="ui-li-count">{{ trip.distance }} mi</span></li>
                        {% endfor %}

                        <li data-icon="pencil"><a href="">Nov 03 - Real estate showing</a><span class="ui-li-count">2.4 mi</span></li>
                        <li data-icon="pencil"><a href="">Nov 08 - Real estate showing</a><span class="ui-li-count">18 mi</span></li>
                        <li data-icon="pencil"><a href="">Oct 03 - Drive clients to strip club</a><span class="ui-li-count">9.8 mi</span></li>
                        <li data-icon="pencil"><a href="">Jul 08 - Real estate showing</a><span class="ui-li-count">5 mi</span></li>
                        <li data-icon="pencil"><a href="">Sep 12 - Office Max run</a><span class="ui-li-count">3 mi</span></li>
                        <li data-icon="pencil"><a href="">May 23 - Real estate showing</a><span class="ui-li-count">21.2 mi</span></li>
                    </ul>



                <br><br>
                <a href="index.html" data-role="button" data-icon="save" data-theme="c">Email</a>
            </div><!-- content -->
{% endblock %}
