{% extends "base.html" %}

{% block content %}
            <div data-role="content" data-theme="a">
{% comment %}

                {% if trips %}
                <input type="search" name="search" id="search-basic" value="" placeholder="Search for a trip (this doesn't work yet)" />
                {% endif %}
{% endcomment %}

{% comment %}
                <div data-role="navbar">
                    <ul>
                        <li><a href="" class="ui-btn-active ui-state-persist">By Date</a></li>
                        <li><a href="">A - Z</a></li>
                    </ul>
                </div><!-- /navbar -->
{% endcomment %}

                <h2>Trip Log<span class="right">{% if trips %}{{ totalmiles }} mi{% endif %}</span></h2>
                    <ul id="mylistview"
                        data-role="listview"
                        >
                        {% for trip in trips %}
                        <li data-icon="pencil"><a href="{% url edit trip.id %}">{{ trip.date}} - {% firstof trip.reason "(no description)"%}</a><span class="ui-li-count">{{ trip.distance }} mi</span></li>
                        {% empty %}

                        <li>No trips logged yet.</li>

                        <!--

                        <li data-icon="pencil"><a href="">Nov 03 - Real estate showing</a><span class="ui-li-count">2.4 mi</span></li>
                        <li data-icon="pencil"><a href="">Nov 08 - Real estate showing</a><span class="ui-li-count">18 mi</span></li>
                        <li data-icon="pencil"><a href="">Oct 03 - Drive clients to strip club</a><span class="ui-li-count">9.8 mi</span></li>
                        <li data-icon="pencil"><a href="">Jul 08 - Real estate showing</a><span class="ui-li-count">5 mi</span></li>
                        <li data-icon="pencil"><a href="">Sep 12 - Office Max run</a><span class="ui-li-count">3 mi</span></li>
                        <li data-icon="pencil"><a href="">May 23 - Real estate showing</a><span class="ui-li-count">21.2 mi</span></li>

                        -->
                        {% endfor %}
                    </ul>

                <br><br>
                {% if trips %}
                <a href="{% url email %}" data-rel="dialog" data-role="button" data-icon="save" data-theme="c">Email</a>
                {% else %}
                <a href="{% url add %}" data-role="button" data-icon="plus" data-theme="c">Add Your First Trip</a>
                {% endif %}
            </div><!-- content -->
{% endblock %}
