{% extends "base.html" %}

{% block extra_css %}
        <style>
            p.helptext {
              margin-top: 0.2em;
              margin-bottom: 2.3em;
              font-size: 0.8em;
              color: #666;
            }
        </style>
    </head>
{% endblock %}

{% block content %}
            <div data-role="content" data-theme="a">
                <input type="search" name="search" id="search-basic" value="" placeholder="Search for a trip" />
                <div data-role="navbar">
                    <ul>
                        <li><a href="" class="ui-btn-active ui-state-persist">By Date</a></li>
                        <li><a href="">A - Z</a></li>
                    </ul>
                </div><!-- /navbar -->

                <h2>Trip Log</h2>
                    <ul id="mylistview"
                        data-role="listview"
                        >
                        <li data-icon="pencil"><a href="">2/03 - Real estate showing</a></a></li>
                        <li data-icon="pencil"><a href="">2/05 - Real estate showing</a></a></li>
                        <li data-icon="pencil"><a href="">2/08 - Real estate showing</a></a></li>
                        <li data-icon="pencil"><a href="">2/03 - Drive clients to strip club</a></li>
                        <li data-icon="pencil"><a href="">2/08 - Real estate showing</a></a></li>
                        <li data-icon="pencil"><a href="">2/12 - Office Max run</a></a></li>
                        <li data-icon="pencil"><a href="">2/23 - Real estate showing</a></a></li>

                        <li data-icon="pencil"><a href="">3/03 - Real estate showing</a></a></li>
                        <li data-icon="pencil"><a href="">3/03 - Drive clients to strip club</a></li>
                        <li data-icon="pencil"><a href="">3/03 - Real estate showing</a></a></li>
                        <li data-icon="pencil"><a href="">3/09 - Real estate showing</a></a></li>
                        <li data-icon="pencil"><a href="">3/11 - Real estate showing</a></a></li>
                        <li data-icon="pencil"><a href="">3/21 - Office Max run</a></a></li>
                        <li data-icon="pencil"><a href="">3/29 - Real estate showing</a></a></li>

                        <li data-icon="pencil"><a href="">4/01 - Real estate showing</a></a></li>
                        <li data-icon="pencil"><a href="">4/06 - Drive clients to strip club</a></li>
                        <li data-icon="pencil"><a href="">4/09 - Real estate showing</a></a></li>
                        <li data-icon="pencil"><a href="">5/10 - Real estate showing</a></a></li>
                        <li data-icon="pencil"><a href="">5/10 - Real estate showing</a></a></li>
                        <li data-icon="pencil"><a href="">5/29 - Office Max run</a></a></li>
                        <li data-icon="pencil"><a href="">7/04 - Real estate showing</a></a></li>
                    </ul>



                <br><br>
                <a href="index.html" data-role="button" data-icon="save" data-theme="c">Email</a>
            </div><!-- content -->
{% endblock %}
