{% extends "base.html" %}

{% block content %}
            <div data-role="content" data-theme="a">
                <div class="right">
                    <a href="{% url logout %}" style="text-decoration:none;">Log out</a>
                </div>
                <h2>{{ request.user.username|capfirst }}'s Settings</h2>
                <form method="POST">{% csrf_token %}
                    {% if form.non_field_errors %}
                    <div class="error">
                        {% for error in form.non_field_errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% for field in form %}
                    <div {% if field.errors %}class="error"{% endif %}>
                        {% if field.errors %}
                            <p class="error" style="display:block">{{ field.errors.0 }}</p>
                        {% endif %}
                        {{ field.label_tag }}
                        {{ field }}
                        <p class="helptext {% if field.errors %}error{% endif %}">{{ field.help_text}}</p>
                    </div>
                    {% endfor %}
                    <a id="submit" data-role="button" data-icon="save" data-theme="c">Save</a>
                    <script>
                        $('a#submit').click(function (e) {
                            $(this).parent().submit();
                            e.preventDefault();
                        });
                    </script>
                </form>
            </div><!-- content -->
{% endblock %}
